.bg-landing {
    background: linear-gradient(to bottom, rgba(219,154,183,0.90) 50%, rgba(219,154,183,0.90) 100%), url('../../../public/image/landing.jpg') no-repeat center;
    height: 100vh;
}

.bg-default {
    background: var(--surface-ground);
    height: 100vh;
}

.header {
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.header-landing {
    color: #ffffff
}
.header-landing:hover {
    color: var(--gray-700);
}

.header-default {
    color: var(--pink-200);
}
.header-default:hover {
    color: var(--gray-100);
}

.link {
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.link-landing {
    color: #ffffff;
}
.link-landing:hover {
    color: var(--gray-700);
}

.link-default {
    color: var(--gray-100);
}
.link-default:hover {
    color: var(--pink-200);
}

.p-menubar {
    background: unset;
    font-family: unset;
    color: unset;
    border: unset;
    border-radius: unset;
    padding: 0 1.5rem 0 1.5rem;
}

.p-focus div {
    background: unset;
}
.p-focus div:hover {
    background: rgba(255, 255, 255, 0.04);
}

.p-menubar-end {
    display: none;
    margin: unset;
}

@media (max-width: 960px) {
    .header-landing:hover {
        color: #ffffff;
    }

    .link-landing {
        color: var(--gray-100);
    }

    .link-landing:hover {
        color: var(--pink-200);
    }

    .p-menubar-start {
        display: none;
    }

    .p-menubar-end {
        display: unset;
    }
}